@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
	font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.bg-primary{
	background-color: #fafaf5;
}

.custom-black{
	color: #1e1e1e;
}
.custom-green{
	background-color:#02a758
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
.h-primary {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: #111827;
}

@media (min-width: 768px) {
  .h-primary {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}